---
label: 'Editing a URL alias'
related:
  - path.overview
  - path.creating_alias
---
{% set path_aliases = render_var(url('entity.path_alias.collection')) %}
{% set permission = render_var(url('user.admin_permissions', {}, {'fragment': 'module-path'})) %}
{% set overview = render_var(url('help.help_topic', {'id':'path.overview'})) %}
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Change an existing URL alias, to correct the path or the alias value. See <a href="{{ overview }}">Configuring aliases for URLs</a> for more about aliases.{% endtrans %}</p>
<h2>{% trans %}Who can manage URL aliases?{% endtrans %}</h2>
<p>{% trans %}Users with the <em><a href="{{ permissions }}">Administer URL aliases</a></em> permission can edit aliases.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}In the <em>Manage</em> administration menu, navigate to <em>Configuration</em> &gt; <em>Search and Metadata</em> &gt; <a href="{{ path_aliases }}"><em>URL aliases</em></a>. A list of all the site's aliases will appear.{% endtrans %}</li>
  <li>{% trans %}Click <em>Edit</em> in the dropdown button for the alias that you would like to change.{% endtrans %}</li>
  <li>{% trans %}Make the required changes and click <em>Save</em>. You will be returned to the URL alias list page.{% endtrans %}</li>
  <li>{% trans %}Note that you can also add new aliases from this page, for any path on your site.{% endtrans %}</li>
</ol>